@model SiPA.Web.Models.ConfirmationViewModel

<div class="form-group">
    <label asp-for="SacramentTypeId" class="control-label"></label>
    <select asp-for="SacramentTypeId" asp-items="Model.SacramentTypes" class="form-control"></select>
    <span asp-validation-for="SacramentTypeId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ConfirmationDate" class="control-label"></label>
    <input asp-for="ConfirmationDate" class="form-control" />
    <span asp-validation-for="ConfirmationDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PlaceofEvent" class="control-label"></label>
    <input asp-for="PlaceofEvent" class="form-control" />
    <span asp-validation-for="PlaceofEvent" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FatherName" class="control-label"></label>
    <input asp-for="FatherName" class="form-control" />
    <span asp-validation-for="FatherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FatherId" class="control-label"></label>
    <input asp-for="FatherId" class="form-control" />
    <span asp-validation-for="FatherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MotherName" class="control-label"></label>
    <input asp-for="MotherName" class="form-control" />
    <span asp-validation-for="MotherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MotherId" class="control-label"></label>
    <input asp-for="MotherId" class="form-control" />
    <span asp-validation-for="MotherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GodFatherName" class="control-label"></label>
    <input asp-for="GodFatherName" class="form-control" />
    <span asp-validation-for="GodFatherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GodFatherId" class="control-label"></label>
    <input asp-for="GodFatherId" class="form-control" />
    <span asp-validation-for="GodFatherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GodMotherName" class="control-label"></label>
    <input asp-for="GodMotherName" class="form-control" />
    <span asp-validation-for="GodMotherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GodMotherId" class="control-label"></label>
    <input asp-for="GodMotherId" class="form-control" />
    <span asp-validation-for="GodMotherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Comments" class="control-label"></label>
    <input asp-for="Comments" class="form-control" />
    <span asp-validation-for="Comments" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CeremonialCelebrant" class="control-label"></label>
    <input asp-for="CeremonialCelebrant" class="form-control" />
    <span asp-validation-for="CeremonialCelebrant" class="text-danger"></span>
</div>