@model SiPA.Web.Models.WeddingVM

<div class="form-group">
    <label asp-for="SacramentTypeId" class="control-label"></label>
    <select asp-for="SacramentTypeId" asp-items="Model.SacramentTypes" class="form-control"></select>
    <span asp-validation-for="SacramentTypeId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="WeedingDate" class="control-label"></label>
    <input asp-for="WeedingDate" class="form-control" />
    <span asp-validation-for="WeedingDate" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PlaceOfEvent" class="control-label"></label>
    <input asp-for="PlaceOfEvent" class="form-control" />
    <span asp-validation-for="PlaceOfEvent" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideFatherName" class="control-label"></label>
    <input asp-for="BrideFatherName" class="form-control" />
    <span asp-validation-for="BrideFatherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideFatherId" class="control-label"></label>
    <input asp-for="BrideFatherId" class="form-control" />
    <span asp-validation-for="BrideFatherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideMotherName" class="control-label"></label>
    <input asp-for="BrideMotherName" class="form-control" />
    <span asp-validation-for="BrideMotherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideMotherId" class="control-label"></label>
    <input asp-for="BrideMotherId" class="form-control" />
    <span asp-validation-for="BrideMotherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideGroomFatherName" class="control-label"></label>
    <input asp-for="BrideGroomFatherName" class="form-control" />
    <span asp-validation-for="BrideGroomFatherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideGroomFatherId" class="control-label"></label>
    <input asp-for="BrideGroomFatherId" class="form-control" />
    <span asp-validation-for="BrideGroomFatherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideGroomMotherName" class="control-label"></label>
    <input asp-for="BrideGroomMotherName" class="form-control" />
    <span asp-validation-for="BrideGroomMotherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="BrideGroomMotherId" class="control-label"></label>
    <input asp-for="BrideGroomMotherId" class="form-control" />
    <span asp-validation-for="BrideGroomMotherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GodMother" class="control-label"></label>
    <input asp-for="GodMother" class="form-control" />
    <span asp-validation-for="GodMother" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GodMotherId" class="control-label"></label>
    <input asp-for="GodMotherId" class="form-control" />
    <span asp-validation-for="GodMotherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GodFather" class="control-label"></label>
    <input asp-for="GodFather" class="form-control" />
    <span asp-validation-for="GodFather" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GoFatherId" class="control-label"></label>
    <input asp-for="GoFatherId" class="form-control" />
    <span asp-validation-for="GoFatherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GoFatherId" class="control-label"></label>
    <input asp-for="GoFatherId" class="form-control" />
    <span asp-validation-for="GoFatherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CeremonialCelebrant" class="control-label"></label>
    <input asp-for="CeremonialCelebrant" class="form-control" />
    <span asp-validation-for="CeremonialCelebrant" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Comments" class="control-label"></label>
    <input asp-for="Comments" class="form-control" />
    <span asp-validation-for="Comments" class="text-danger"></span>
</div>
