@*@model SiPA.Web.Models.SacramentViewModel

@{ 
        ViewData["Title"] = "Create";
}
<h2>Crear</h2>

<h4>Sacramento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSacrament" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParishionerId" />

            <div class="form-group">
                <label asp-for="SacramentTypeId" class="control-label"></label>
                <select asp-for="SacramentTypeId" asp-items="Model.SacramentTypes" class="form-control"></select>
                <span asp-validation-for="SacramentTypeId" class="text-danger"></span>
            </div>



            @if (Model.SacramentType.SacramentName == "Bautizo")
            {
                <partial name="_Christening" />

            }

            @if (Model.SacramentType.SacramentName == "Matrimonio")
            {
                <partial name="_Christening" />
            }


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.ParishionerId" class="btn btn-success">volver al Feligres</a>
            </div>
        </form>           
    </div>
</div>*@