@model SiPA.Web.Models.WeddingVM

@{ 
    ViewData["Title"] = "EditWedding";
} 

<h2>Editar</h2>

<h4>Matrimonio</h4>
<hr />
<div class="col-md-4">
    <form asp-action="EditWedding" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ParishionerId" />

        <partial name="_Wedding" />

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Details" asp-route-id="@Model.ParishionerId" class="btn btn-success">Volver al Feligrés</a>
        </div>
    </form>
</div>
