

@*<div class="form-group">
    <label asp-for="SacramentName" class="control-label"></label>
    <input asp-for="SacramentName" class="form-control" />
    <span asp-validation-for="SacramentName" class="text-danger"></span>
</div>*@

<!--<div class="form-group">
    <label asp-for="PlaceofEvent" class="control-label"></label>
    <input asp-for="PlaceofEvent" class="form-control" />
    <span asp-validation-for="PlaceofEvent" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FatherName" class="control-label"></label>
    <input asp-for="FatherName" class="form-control" />
    <span asp-validation-for="FatherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FatherId" class="control-label"></label>
    <input asp-for="FatherId" class="form-control" />
    <span asp-validation-for="FatherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MotherName" class="control-label"></label>
    <input asp-for="MotherName" class="form-control" />
    <span asp-validation-for="MotherName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="MotherId" class="control-label"></label>
    <input asp-for="MotherId" class="form-control" />
    <span asp-validation-for="MotherId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Comments" class="control-label"></label>
    <input asp-for="Comments" class="form-control" />
    <span asp-validation-for="Comments" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CeremonialCelebrant" class="control-label"></label>
    <input asp-for="CeremonialCelebrant" class="form-control" />
    <span asp-validation-for="CeremonialCelebrant" class="text-danger"></span>
</div>-->

@*<div class="form-group">
    <label asp-for="Parishioner" class="control-label"></label>
    <input asp-for="Parishioner" class="form-control" />
    <span asp-validation-for="Parishioner" class="text-danger"></span>
</div>*@

