@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p></p>
</div>

<a class="btn btn-primary" href="../Reports/ChristeningInfo" target="_blank">Bautizo</a>